[package]
name = "mozjs_sys"
description = "System crate for the Mozilla SpiderMonkey JavaScript engine."
repository = "https://github.com/servo/mozjs/"
version = "0.66.0"
authors = ["Mozilla"]
links = "mozjs"
build = "build.rs"
license = "MPL-2.0"
exclude = [
  "mozjs/js/src/tests/**",
  "mozjs/js/src/octane/**",
  "mozjs/js/src/jit-test/**",
  "mozjs/js/src/jsapi-tests/**",
  "mozjs/js/src/doc/**",
]

[features]
debugmozjs = []
profilemozjs = []

[lib]
name = "mozjs_sys"
# The generated jsapi.rs contains #[doc] strings which look like
# doctests but are definitely not.
doctest = false

[dependencies]
libc = "0.2"
libz-sys = "1.0"

[build-dependencies]
bindgen = "0.49.0"
cc = "1.0"
